@font-face {
	font-family: "RobotoMono";
	src: url("./fonts/RobotoMono-Thin.ttf");
}
* {
	font-family: "RobotoMono", monospace;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-content: center;
	text-align: center;

	color: #fff;
	background: linear-gradient(to right, rgb(83, 115, 103), rgb(41, 43, 76));
}
